<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>Vuelos</title>
</head>
<body>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'crear'%}">Registrar vuelos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'home'%}">Listar vuelos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'home'%}">Estadísticas vuelos</a>
            </li>
        </ul>

    </div>
</div>
</body>

</html>